.tarea {
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    gap: 10px;
    padding: 10px;
    margin-bottom: 1px solid #3a3a3a;
    box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);

}

.tarea>.title {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex: 60%;
}

.title>h1 {
    text-align: center;
}

.tarea>.chek {
    display: flex;
    justify-content: center;
    flex: 20%;
}

.tarea>.remove {
    display: flex;
    justify-content: center;
    flex: 20%;
}

.remove {
    width: 100%;
    color: #E53935
}

.title {
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background-color: #FF9800;
    transition: all 0.5s
}

.done {
    text-align: center;
    background-color: #43A047;
    color: #212121;
    transition: all 0.5s
}

.chek {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    appearance: none;
    /* Eliminar estilos nativos */
    -webkit-appearance: none;
    /* Safari */
    -moz-appearance: none;
    /* Firefox */

    width: 50px;
    height: 50px;
    background-color: #FF9800;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s;
}

input[type="checkbox"]:checked {
    background-color: #43A047;
    transition: all .5s;
}

button:hover {
    background-color: red;
    color: white;
    transition: all .5s;
    border: none;
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
    .title {
        flex: 80%;
    }
}